[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt5 = "*"
requests = "*"
xmler = "*"
lxml = "*"
tqdm = "*"
ffmpeg-python = "*"

[dev-packages]

[requires]
python_version = "3.10"
