astroid==2.3.3
certifi==2019.11.28
chardet==3.0.4
entrypoints==0.3
ffmpeg-python==0.2.0
flake8==3.7.9
future==0.18.2
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.3
lxml==4.6.3
mccabe==0.6.1
pycodestyle==2.5.0
pyflakes==2.1.1
pylint==2.4.4
requests==2.22.0
six==1.14.0
typed-ast==1.4.1
urllib3==1.25.8
wrapt==1.11.2
xmler==0.2.0
