alabaster==0.7.12
astroid==2.5.6
Babel==2.9.1
certifi==2021.5.30
chardet==4.0.0
docutils==0.17.1
entrypoints==0.3
ffmpeg-python==0.2.0
flake8==3.9.2
future==0.18.2
idna==2.10
imagesize==1.2.0
isort==5.8.0
Jinja2==3.0.1
lazy-object-proxy==1.6.0
lxml==4.6.3
MarkupSafe==2.0.1
mccabe==0.6.1
packaging==20.9
pycodestyle==2.7.0
pyflakes==2.3.1
Pygments==2.9.0
pylint==2.8.3
pyparsing==2.4.7
pytz==2021.1
requests==2.25.1
six==1.16.0
snowballstemmer==2.1.0
Sphinx==4.0.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
toml==0.10.2
typed-ast==1.4.3
urllib3==1.26.5
wrapt==1.12.1
xmler==0.2.0
